/*
* Sonic Mad Libs Basic Stylesheet
* Made by Ashleigh Ward
*/

/* Set the Fonts of the Game */
body{
	font-family: Mohave Italic; src: url('fonts/Mohave Italic.ttf'); 
	font-size: 18px;
	padding: 0px;
	margin: 0px;2
}

.writtenWord{
	font-family: Rocky Monkey; src: url('fonts/Rocky Monkey.TTF'); 
}

.spacePad{
	padding-left: 5%;
}

/* Heading setup */
.headImage{
	width: 15%;
	max-height: 100px;
	max-width: 100px;
}

.heading{
	font-family: NiseSegaSonic; src: url('fonts/NiseSegaSonic.TTF'); 
	max-height: 220px;
	width: 100%;
}


img{
	max-width: 100%;
    max-height: 100%;
    display: block; /* remove extra space below image */
}

section{
	padding: 10px;
	padding-top: 0px;
}

.inputSection{
	margin-top: 10px;
	background-color: lightgrey;
	min-width: 20px;
	max-width: 400px;
}

.submitButton{
	padding: 10px;
	font-size: 20px;
	background-color: powderblue;
}

.collapsible {
	background-color: lightgrey;
	color: black;
	cursor: pointer;
	padding: 10px;
	width: 100%;
	border: none;
	text-align: left !important;
	outline: none;
}

.active, .collapsible:hover {
	background-color: powderblue;
	width: 100%;
}

.content {
	padding-left: 5%;
	display: none;
	overflow: hidden;
	background-color: #f1f1f1;
}